.section-mensaje {
  width: 42%;
  position: relative;
  background-image: linear-gradient(
    to bottom right,
    #fd0c05,
    #000000
  ) !important;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  height: 60vh;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container-motor {
  width: 100%;
  background-color: #00000000;
  text-align: center;
}

.text-area-motor {
  padding-top: 0%;
  border: none;
  border-radius: 24px;
  color: #000000;
  margin-left: 0px;
  margin-top: 20px;
  padding-left: 30px;
  height: 69%;
  margin-top: 80px;
  width: 84%;
  font-size: 26px;
  background-color: #ff0000;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.mensaje:focus {
  outline: none;
}

.botones-contenedor-derecho {
  width: 100%;
  background-color: #000000;
  padding: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
}

.btn-copiar {
  border: 1px solid #ff0000;
  border-radius: 22px;
  color: #000000;
  cursor: pointer;
  height: 53px;
  /* margin-left: 40px; */
  position: absolute;
  width: 121px;
  font-size: 22px;
  background: #ff0000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s;
}

.btn-copiar:hover {
  background: #000000;
  color: #ff0000;
  border: 1px solid #000000;
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}

@media screen and (max-width: 1400px) {
    .section-mensaje {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
  .section-mensaje {
      height: 90vh;
  }
}

