.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0 0 0 / 13%);
  box-sizing: border-box;
  z-index: 2;
}

.logo {
  width: 100%;
  max-height: 40px;
}

.navbar-container {
  max-width: 1379px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* Old version */
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; /* Adjust padding as needed */
}

.navbar-brand {
  float: left;
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-right: 20px;
}

.navbar-btn {
  float: right;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 25px;
  margin-left: 20px;
}

/* Hero Section */

.hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  flex-direction: column;
  padding: 0px 0px 0px 0px;
  margin: 100px 0px 0px 0px;

  overflow: hidden;
}

.hero-container {
  position: relative;
  z-index: 1;
}

.hero-rules {
  background-image: linear-gradient(to bottom right, #ff0000, #000000);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 89%;
  color: rgb(223, 223, 223);
  margin: 82px 0px 0px 0px;
  border: 2px solid;
  border-radius: 0.5rem;
  overflow: hidden;
  max-height: 106%;
}

.hero-paragraph {
  font-size: 20px;
  margin-bottom: 15px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
  max-height: 10rem;
}

.title-label {
  font-size: 32px;
}
.tab__label {
  display: flex;
  color: white;
  background: var(--theme);
  cursor: pointer;
}

.tab__label {
  justify-content: space-between;
  padding: 1rem;
}

.tab__label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}

.info-label {
  font-size: 23px;
  display: flex;
  justify-content: space-between;
  padding: 0px 21px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.hero-note {
  /* max-height: 60%; */
}

.hero-note input:checked + .tab__label::after {
  transform: rotate(270deg);
}

.hero-note input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Arrow animation */
.hero-note input:not(:checked) + .tab__label:hover::after {
  animation: bounce 0.5s infinite;
  -webkit-animation: bounce 0.5s infinite;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}

.hero-content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
}

.hero-content p {
  margin: 0;
  padding: 1rem;
}

.hero-note input:checked ~ .hero-content {
  max-height: 80rem;
}

.hero-image {
  width: 100%;
  padding: 63px 0px 0px 0px;
  max-height: 300px;
  filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.8));
  -webkit-filter: drop-shadow(0 0 25px rgba(0, 0, 0, 0.8));
}
.hero-note h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero-note h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Estilos para el botón de copiar */
.copy-button {
  border: 1px solid #ff0000;
  border-radius: 22px;
  color: #e8e8e8;
  cursor: pointer;
  height: 25px;
  margin-left: 40px;
  width: 65px;
  background: #ff0000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background 0.5s, color 0.5s, border-color 0.5s, box-shadow 0.5s;
  font-size: 16px;
  padding: 0px 0px 0px 12px;
  margin: 5px 0px 0px 0px;
}

/* Estilos para el botón de copiar cuando se pasa el cursor sobre él */
.copy-button:hover {
  background: #ff00003d;
  
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
}

/* Estilos para el texto de .info-label cuando se pasa el cursor sobre el botón de copiar */
.copy-button:hover + .info-label {
  color: black;
}

.accordion-title {
  cursor: pointer;
  padding: 10px;
  background-color: #ddd;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.accordion-title:hover {
  background-color: #ccc;
}

.accordion-title.active {
  background-color: #b3b3b3;
}

.accordion-content.active {
  display: block;
}

@media screen and (max-width: 1400px) {
  .hero-rules {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .title-label {
    font-size: 28px;
  }
  .info-label {
    font-size: 18px;
  }
  .hero-paragraph {
    font-size: 17px;
  }
}

@media screen and (max-width: 450px) {
  .title-label {
    font-size: 22px;
  }
  .info-label {
    font-size: 16px;
  }
  .hero-paragraph {
    font-size: 15px;
  }
}
