.section-note-card {
    width: 1000%;
}


.note-card {
    
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }
  
  .note-card textarea {
    width: 100%;
    border: none;
    resize: none;
  }